body {
    background-image: url(./img/fundodesfocado.png);
    background-size: 100% 100%;
}

.combo {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

#combo {
    border-radius: 5px;
    width: 20%;
    height: 2rem;
    text-align: center;
    background-color: transparent;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: inter;

}

.titulo {
    text-align: center;
    font-family: inter;
    padding-top: 2%;
}

p{
    font-size: 1.3rem;
    font-weight: 600;
    font-family: inter;
    color: #363636;
}

.formacao {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
    height: 2rem;
    text-align: center;

}

.front__visible {
    display: none;
}

.back__visible {
    display: none;
}

.formacao__visible {
    display: none;
}

.escolha {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 40%;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10%;
    position: relative;
    border-radius: 10px;
}

.escolha__visible {
    display: none;
}

.escolha__back-c {
    background-image: url('./img/c+fundo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    text-align: center;
}

.escolha__back-java {
    background-image: url('./img/javafundo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    text-align: center;
}

.escolha__front-react {
    background-image: url('./img/react.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    text-align: center;
}

.escolha__front-vue {
    background-image: url('./img/vue.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    text-align: center;
}


#front {
    border-radius: 5px;
    width: 100%;
    height: 2rem;
    text-align: center;
    background-color: transparent;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: inter;
}

#back {
    border-radius: 5px;
    width: 100%;
    height: 2rem;
    text-align: center;
    background-color: transparent;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: inter;
}